/* @import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap'); */

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 350px;
    background-color: hsl(217, 19%, 24%);
    color: hsl(193, 38%, 86%);
    text-decoration: solid;
    border-radius: 10px;
    padding: 25px 10px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);

    font-family: url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

    position: relative;
}

.character {
    font-size: 12px;
    color: hsl(150, 100%, 66%);
    text-decoration: solid;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

.sentence {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0.3px;
    margin: 0px 20px;
}

.pattern {
    display: flex;
    flex-direction: row;
}

.pattern img {
    margin-top: 25px;
    margin-bottom: 45px;
}

.btn {
    background-color: hsl(150, 100%, 66%);
    border: none;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -32px;
}

.btn:hover {
    background-color: hsl(150, 100%, 76%);
        box-shadow: 0px 0px 40px 0px hsl(150, 100%, 76%);
}